.fixed-height {
    height: calc(100vh - 100px); /* Adjust the height as needed */
    overflow-y: auto;
}

.pricing-container {
    background-color: #f6f6f6;
    padding: 20px;
    margin-top: 20px;
    height: calc(100vh - 100px); /* Adjust the height as needed */
    overflow-y: auto;
}